@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond:wght@500;800&family=Jost:wght@500&display=swap');


@font-face {
  font-family: 'LCD';
  src: url('/lcd.ttf') format('truetype');
}

  @font-face {
    font-family: 'Futura PT Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Demi'), url('/fonts/FuturaCyrillicDemi.woff') format('woff');
    }

        @font-face {
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Book'), url('/fonts/FuturaCyrillicBook.woff') format('woff');
    }


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #fefeff;
  background-image: url('/images/yBARBACK.jpg');
  background-position: center;
  /* color: yellow; */
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
  text-align: center;
  background-size: cover;
  /* background-blend-mode: luminosity; */
}

/* Set the font for the entire page */
body {
  font-family: Futura PT Demi, sans-serif;
}

a {
  color:red;
}
 
.user-color {
  background-color: #ece822;
}

.natter-green {
  background-color: #595e3d;
}

.natter-grey {
  background-color: #231f20;
}

.adio-button {
  opacity:0.5;
}
.adio-button:hover {
  opacity: 1;
}
/* Style the chat container */
.chat {
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
}

/* Style the footer */
.footer {
  background-color: lightblue;
  padding: 10px;
}

.reset-button{
	background-color: rgba(33,00,33,0.2)!important;
	border-radius: 15px;
margin: 50px 15px 15px;
    
    font-family: "Courier New", monospace;
	font-size: 15pt;

}

.ganjai-msg {
  background-color: rgba(33,00,33,0.2);
  color: white;
  font-family: "Futura PT Book", monospace;
  letter-spacing: 2pt;
}
.user-msg {
	background-color: rgba(200,255,255,0.2);
		color:white;
  font-family: "Futura PT Book", monospace;
  letter-spacing: 2pt;
}
.chat-div {
  padding-top: 20px;
  min-height: calc(100vh - 140px);
  flex-basis: max-content;
  flex-direction: column;
}
.chat-window {
  background-color: #fefefe;
  border: 2px solid #fff;
  position: relative;
  margin: 50px;
  padding: 50px;

}

.chat-window::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -50px;
  left: -20px;
   z-index: -1;
  border-radius: 15px;
}

textarea {
  color:#333;
}
input {
    color:darkgreen;
    border-radius: 5px;
    padding:5px 15px;
      border: 2px solid black;
}
/*mobile screens */

@media screen and (max-width: 345px){
  .chat-window {
  background-color: #060606;
  border: 0px solid white;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  position: relative;
  margin: 24px !important;
}
}

@media screen and (max-width: 600px) {

  .chat-box {

  }
.chat-window {
  background-color: #fff;
  border: 0px solid white;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  position: relative;
  margin: 50px 0;
}
.chat-div {
      overflow-y: auto;
    overflow-x: hidden;

}

.ganjai-msg {
  background-color: rgba(33,00,33,0.2);
  color:white;
    
    font-family: "Courier New", monospace;
    max-width: 91%;
    margin-top: 5px;
}
.user-msg {
  background-color: rgba(200,255,255,0.2);
    color:white;
    
    font-family: "Courier New", monospace;
    max-width: 91%;
    margin-top: 5px;
}

.footer-bottom {
  background: linear-gradient(to bottom, #333, #111);
  min-height:100px!important;
  text-align: center;
}

.footer-bottom p{
    margin:auto;
    
    font-family: "FuturaCyrillicBook", monospace;
        font-size: small;
}
}



.chat-box {
  margin: 25px;
  position: relative;
  z-index: 2;
  margin-top: -87px !important;
  width: 800px;
  max-width: 95%;
  margin: auto;
  background-color: #fdfdfd;
  text-align: left;
  border-radius: 18px;
  border: 1px solid black;
}

.lavalamp {
	padding-left: 150px;
}

.site-branding {
    
font-family: 'Futura PT Book', cursive;
}

@media screen and (max-width:600px){
  .site-branding {
  font-family: Courier New,monospace;
  font-family: Jost,monospace;
  font-size: 1.2rem;
  line-height: 1rem;
  clear: both;
  display: inline-flex;
}
}

@media screen and (max-width:400px){
  .site-branding {
  font-family: Courier New,monospace;
  font-family: Jost,monospace;
  font-size: 1rem;
  line-height: 1rem;
  clear: both;
  display: inline-flex;
}
}


@media screen and (max-width:350px){
  .site-branding {
  font-family: Courier New,monospace;
  font-family: Jost,monospace;
  font-size: 0.4rem;
  line-height: 0.6rem;
  clear: both;
  display: inline-flex;
}
}

.navbar-top {
  /* background-color: #f7ffed; */
  /* background-image: url('/navbar.png'); */
  background-color: #231f20;
  color: white;
  font-family: 'FuturaCyrillicDemi', monospace;
  text-transform: uppercase;
  background-size: cover;
}
.footer-bottom {
  background: linear-gradient(to bottom, #231f20, #231f20);
  min-height:80px;
}

.footer-bottom p{
	  margin:auto;
    
    font-family: "FuturaCyrillicBook", monospace;
}
.footer-bottom a:hover {
	color: teal;
	transition: ease 0.2s;
}


@media screen and (max-height: 900px ){

.chat-box {
  /* margin: 25px; */
  position: relative;
  /* top: 70px; */
  z-index: 2;
  /* margin-top: 0rem !important; */
  /*transform: scale(0.8);*/
}

}

@media screen and (max-width: 600px ){

.chat-box {
  /* top: 140px; */
  /* margin-top: 3rem !important; */
  transform: scale(1);
      max-width:100%;
    border-radius: 0;
    margin-top: 35px;
}

}

@media screen and (max-width: 1054px) {

    .lamp {
  display:none;
    }
  }
/* lavalamp */
.lamp{
     position: fixed;
    /* top: 50%; */
    right: 100px;
    bottom: 61px;
  
  height: 70vh;
  min-height: 300px;
  width: 30vh;
  min-width: calc(300px * 3 / 7);
  background: #2b4353;
    background-image:url('https://i.ibb.co/rm3zZgw/lamp-texture.jpg');
  clip-path: polygon(33% 0, 0 70%, 22% 88%, 0 100%, 100% 100%, 78% 88%, 100% 70%, 67% 0);
}

.lamp::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  z-index: -1;
  background: transparent;
background: #87c08d24;
    clip-path: polygon(39% 1%, 8% 70%, 28% 87%, 13% 97%, 98% 98%, 79% 86%,101% 73%,70% 0% );
}
.glass{
  background: #dfff5bad;
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 30%;
  overflow: hidden;
    box-shadow: 0 0 15px #fff900;
}
.lava{
  filter: url("#goo");
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
}

.blob{
  border-radius: 50%;
  background: #a100df94;
  position:absolute;
}
.blob.top{
  width: 100%;
  height: 4%;
  top: -3.7%;
  left:0;
}
.blob.bottom{
  width: 100%;
  height:4%;
  bottom: -3%;
  left:0;
}
.blob:nth-child(1){
  width: calc(15% * 1.4);
  height: 15%;
  left: 45%;
  bottom:-15%;
  
  animation: blob-one ease-in-out 17s infinite;
}
.blob:nth-child(2){
  width: calc(22% * 1.4);
  height: 22%;
  right: 14%;
  bottom:-15%;
  
  animation: blob-two ease-in-out 21s infinite;
}
.blob:nth-child(3){
  width: calc(32% * 1.4);
  height: 32%;
  bottom:-15%;
  left: 14%;
  
  animation: blob-three ease-in-out 26s infinite;
}

@keyframes blob-one{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-700%);
  }
}

@keyframes blob-two{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-420%);
  }
}

@keyframes blob-three{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-305%);
  }
}

.password {
    font-family: "Courier New", monospace;
    margin-bottom:100px;
}
.sloth {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  z-index: 3;
}
.sloth img {
  display: block;
  max-width: 80%;
  max-height: 286px;
  border-radius: 25px;
}
.timer {
  font-family: "Jost", monospace;
  font-size: 34px;
  color: #00ff00;
  background-color: black;
  padding: 10px;
  margin: 0 40px;
}
.congrats {
  font-family: "FuturaCyrillicDemi", monospace;
  font-size: 34px;
  color: #060d06;
  background-color: #0000;
  padding: 24px 48px;
  margin: 40px auto;
  border-width: 20px;
  border-style: double;
  border-color: black;
}
.congrats a {
  color:red;
}