/* Import Playfair Display font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Wrap all styles under .recipePage to increase specificity */
.recipePage {
  font-family: 'Playfair Display', serif;
  margin: 10px auto 9px;
  padding: 0;
  background-image: url('/images/sfbg3.png');
  background-position: center;
  background-color: #fafafa;
  color: #000;
  line-height: 1.8;
  width: 600px;
  max-width: 90%;
  box-shadow: 2px 4px 7px #01010122;
  font-weight: 700px;
}

.recipePage h1,
.recipePage h2 {
  color: #444;
}

.recipePage h1 {
  background-color: #fff0;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  font-size: 2.5em;
  border-bottom: 2px solid #ddd;
  max-width: 80%;
  margin: auto;
}

.recipePage h2 {
  padding-left: 0px;
  margin-top: 30px;
  font-size: 1.5em;
}

.recipePage p {
  padding: 25px;
  margin-top: 25px;
  font-size: 0.9em;
  font-style: italic;
  letter-spacing: 0.1em;
  text-align: justify;
}

.recipePage ul,
.recipePage ol {
  list-style: none;
  padding: 0;
  margin: 25px 50px;
}

.recipePage li {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.recipePage ol li {
  margin-bottom: 10px;
  background: none;
  box-shadow: none;
  padding-left: 15px;
}

.recipePage ul li::before {
  content: "•";
  color: #888;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Additional styling for a luxurious feel */
.recipePage a {
  color: #007bff;
  text-decoration: none;
}

.recipePage a:hover {
  text-decoration: underline;
}

.downloadButton {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: #ece820; /* Nice deep green */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 30px 0 30px 0;
}

.downloadButton:hover {
  background: #595e3d;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.copyButton {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: #ece820; /* Same as .downloadButton */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 30px 0 30px 0; /* Same spacing as .downloadButton */
}

.copyButton:hover {
  background: #595e3d; /* Same hover effect */
}

.copySuccess {
  text-align: center;
  font-size: 14px;
  color: green;
  margin-top: 10px;
}

.rule {
  width:50%;
  margin: auto;
  background-color: #333;
  height: 2px;
  margin-bottom:30px;
}
.logo {
  width: 250px;
  height: auto;
  display: block;

}
.logoContainer {
    width: 250px;
    margin: 50px auto 0;
  padding: 40px 0 0;
}